
.spaceName {
  font-size: large;
  color: white;
  margin-left: 20px;
}
a.nav-link { color: #FFFFFF; }

#homeIconContainer {
  display: inline-block; 
  vertical-align:top; 
  padding-top: 2px; 
  font-size:23px; 
  line-height:23px;
}
#spaceContainer {
  height:100%;
}
#spaceBody {
  height: 100%;
  overflow-y: auto;
}